@using SalesForceIntegration.Helpers
@model SalesForceIntegration.Models.SalesForceModels.OpportunityModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Update opportunity in SFDC
                </header>
                <div class="panel-body">
                    <div class="form">
                        @using (Html.BeginForm("Update", "Opportunities", null, FormMethod.Post, new { @class = "form-validate form-horizontal" }))
                        {

                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()


                            <input type="hidden" id="hdnId" name="ID" value="@Model.Id" />
                            <input type="hidden" id="hdnStage" value="@Model.StageName" />
                            <input type="hidden" id="hdnType" value="@Model.Type" />
                            <input type="hidden" id="hdnSource" value="@Model.LeadSource" />

                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Name <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="cname" name="name" type="text" value="@Model.Name" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cclosedate" class="control-label col-lg-2">Close Date <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="cclosedate" name="closedate" type="text" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Stage <span class="required">*</span> </label>
                                <div class="col-lg-10">
                                    @Html.DropDownList("StageName", EnumHelper.GetSelectList(typeof(OpportunityStage)), null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Type <span class="required">*</span> </label>
                                <div class="col-lg-10">
                                    @Html.DropDownList("Type", EnumHelper.GetSelectList(typeof(OpportunityType)), null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="camount" class="control-label col-lg-2">Amount</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="camount" type="text" value="@Model.Amount" name="amount" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Stage <span class="required">*</span> </label>
                                <div class="col-lg-10">
                                    @Html.DropDownList("LeadSource", EnumHelper.GetSelectList(typeof(OpportunityLeadSource)), null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cprobability" class="control-label col-lg-2">Probability</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="cprobability" type="text" value="@Model.Probability" name="Probability" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <button class="btn btn-default" type="button">Cancel</button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>

<script>
    $(function () {

        var closeDate = '@Model.CloseDate.ToString("dd/MMMM/yyyy")';
        $('#cclosedate').datepicker({
            inline: true,
            nextText: '&rarr;',
            prevText: '&larr;',
            showOtherMonths: true,
            dateFormat: 'dd/MM/yy',
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        });

        $("#cclosedate").val(closeDate);

        $('#StageName option').map(function () {
            if ($(this).text() === $("#hdnStage").val()) return this;
        }).attr('selected', 'selected');

        $('#Type option').map(function () {
            if ($(this).text() === $("#hdnType").val()) return this;
        }).attr('selected', 'selected');

        $('#LeadSource option').map(function () {
            if ($(this).text() === $("#hdnSource").val()) return this;
        }).attr('selected', 'selected');

    });
</script>
